html
header
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet" href="/css/tsunemori.css")
img(style="display:inline-block" src='/img/horo.png', alt='Waifu', height="255" width="255")
h2(style="display: inline-block;position: absolute;margin: 2em 0 0 1em;" )  My Items:
table#storage-table(style="display:inline-block" ) 
	thead
		tr
			th Name
			th Coin
	tbody
		each item in storage
			tr
				td= item.name
				td= item.coin

h1#title #{title}

nav
	ul#nav-list
		li
			a(href='/', title='Town') Town

h2 Rented field for #{loan} days


br
br

form(action='/rent', method='POST')
div.renting
	label(for='loan') Name of Renter: 
	br
	input(type='text', name='name')
	br
	br
	label(for='loan') How many days would you like to rent the field?: 
	br
	input#days(type='text', name='days')
	br
	br
	label(for='loan') What are your crops? 
	table
		tr
			td
				input(type='text', name='crops') 
		tr
			td
				input(type='text', name='crops') 
		tr
			td
				input(type='text', name='crops') 
		tr
			td
				input(type='text', name='crops') 
	button(type='submit')  Submit


form(action='/process', method='POST')
	div
		label(for='seller') How many bundles of wheat: 
			input#wheat(type='text', name='wheat')
	div
		button(type='submit') Submit
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src='//code.jquery.com/jquery-1.11.3.min.js')
script(src='/scripts/kurisu.js')
script(src="//localhost:35729/livereload.js")