html
  
  header 
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/tsunemori.css")
  
  body
 


  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script(src='/scripts/kurisu.js')
  script(src="//localhost:35729/livereload.js")